@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/Inter/Inter-Regular.woff2?v=3.15") format("woff2"),
    url("./fonts/Inter/Inter-Regular.woff?v=3.15") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/Inter/Inter-Italic.woff2?v=3.15") format("woff2"),
    url("./fonts/Inter/Inter-Italic.woff?v=3.15") format("woff");
}

@font-face {
  font-family: "Inter Semi Bold";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./fonts/Inter/Inter-SemiBold.woff2?v=3.15") format("woff2"),
    url("./fonts/Inter/Inter-SemiBold.woff?v=3.15") format("woff");
}

@font-face {
  font-family: "Inter Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./fonts/Inter/Inter-Bold.woff2?v=3.15") format("woff2"),
    url("./fonts/Inter/Inter-Bold.woff?v=3.15") format("woff");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: darkgray;
}

h1 {
  font-family: Inter Bold;
}

h2 {
  font-family: Inter Semi Bold;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
